*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100%;
    width: 100%;  
}
header{
    grid-area: header;
    height: 100%;
    width: auto;
}
.contact{
    grid-area: contacto;
}
.listaContacto{
    grid-area: lista;
}
.mapa{
    grid-area: mapa;
}
footer{
    grid-area: footer;
}
.gridContainer{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"   
    "contacto"
    "lista"
    "mapa"
    "footer";
}
.barraPags{
    padding: 30px;
    text-align: center;

}
.barraPags__menu li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    
}
.barraPags__menu a{
    text-decoration: none;
    font-size: 1.2 ;
    color:grey;

}
.barraPags__menu a:hover{
    color: rgb(255, 222, 90);
    background-color: rgb(164, 0, 0);
    padding: 10px;
}
.barraPags__logo--titulo {
    color: rgb(113, 113, 113);
    font-size: 40px;
    font-weight: 100;
}
.barraPags__logo--subtitulo{
    color: gray;
    font-size: 20px;
    font-weight: 100;
    text-decoration: underline;
}

/* .mapa__estacionamientos{
    list-style: none;
    padding: 10px;
    font-weight: 17px;
    line-height: 2rem;
    padding-top: 50px;
}
.mapa__estacionamientos-cercanos{
    text-decoration: underline;
} */
form{
    width: 40vh;
    margin: auto ;
    background:rgba(126, 78, 12, 0.4);
    padding: 2vh 3vh;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column; 
}
input{
    margin: 1vh;
}
.contacto{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 1vh;
    box-sizing: border-box;
    font-size: 17px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
.listaContacto{   
    width: 40vh;
    margin: auto ;
    background:rgba(126, 78, 12, 0.4);
    padding: 2vh 3vh;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: column; }
ul{
    list-style: none;
}
.mapa{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mapa__mapa{
    padding: 50px;
}
#boton{
    background-color: black;
    color: white;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}

.wpp{
    height: 15px;
}
@media(min-width: 600px){
    header{
        display: flex;
        flex-direction: column;
    }
    .barraPags{
        display: inline-flex;
        text-align: justify;
        padding: 30px;
        justify-content: space-between;
    }
    .barraPags__menu li{
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }
    .barraPags__menu a{
        text-decoration: none;
        font-size: 1.2 ;

    }
    .listaContacto{
        width: 80vh;
    }
    form{
        width: 80vh;
    }
    .mapa{
        grid-area: mapa;
    }
}